{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">
{% endblock css_files %}

{% block content %}

    <section id="all-posts">
        <h2>Blog Posts List</h2>
        <ul>
            {% for post_content in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>About Me</h2>
        <p>As a Graphics Hardware Engineer at INTEL, I specialize in developing Debug and Validation tools to improve workflow and efficiency. With a strong background in data structures, algorithms, automation, and shell scripting, I bring expertise in C++ and Python programming, as well as CI/CD and Linux. I am committed to designing and developing tools that enhance productivity and optimize processes</p>
    </section>
{% endblock content %}