{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
{% endblock css_files %}

{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/dheer.jpg' %}" alt="Sanu - The Author of this Blog">
            <h2>Amrendra's BLOG</h2>
        </header>
        <p>Hi I am Amrendra, I love to write codes.</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Posts</h2>
        <ul>
            {% for post_content in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>About Me</h2>
        <p>As a Graphics Hardware Engineer at INTEL, I specialize in developing Debug and Validation tools to improve workflow and efficiency. With a strong background in data structures, algorithms, automation, and shell scripting, I bring expertise in C++ and Python programming, as well as CI/CD and Linux. I am committed to designing and developing tools that enhance productivity and optimize processes</p>
    </section>
{% endblock content %}